ul.nav.navbar-nav {
    float: right;
}
.navbar-default {
    background-color: #34495e;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
li a.user-tab {
    border-radius: 100%;
    background-color: #c1bdbe;
    display: inline-block;
    line-height: 12px;
    margin-top: 8%;
}
.product-list {
    width: 25%;
    display: inline-block;
    overflow: scroll;
    height: 600px;
    float: left;
}
.product-details {
    width: 70%;
    display: inline-block;
    float: right;
}
img.product_img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}
.btn-default {
    display: block;
    width: 100%;
}
img.big_img {
    width: 70%;
}